@font-face {
  font-weight: extralight;
  font-family: 'Encode Sans';
  font-style: normal;
  src: url('fonts/EncodeSans-ExtraLight.woff2') format('woff2'),
      url('fonts/EncodeSans-ExtraLight.woff') format('woff'),
}

@font-face {
  font-weight: normal;
  font-family: 'Encode Sans';
  font-style: normal;
  src: url('fonts/EncodeSans-Regular.woff2') format('woff2'),
      url('fonts/EncodeSans-Regular.woff') format('woff'),
}

@font-face {
  font-weight: 700;
  font-family: 'Encode Sans';
  font-style: normal;
  src: url('fonts/EncodeSans-Bold.woff2') format('woff2'),
      url('fonts/EncodeSans-Bold.woff') format('woff');
}

html {
  height: 100%;
}

body {
  font-family: 'Encode Sans', Arial, sans-serif;
  font-style: normal;
  background-color: #ffffff;
  min-height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(89, 89, 89, 0.6);
}

.caption {
  top: 0;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 0 0 70px #98e5fa;
  box-shadow: 0 0 70px #98e5fa;
}

.wrapper-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(38, 38, 38);
}

.main-content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.caption__link {
  padding: 0;
  margin: 0;
  padding-right: 50px;
  font-size: 1.8rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.caption__link:hover {
  color: #98e5fa;
  -webkit-transition: 0.8s ease, color 0.8s ease;
  -o-transition: 0.8s ease, color 0.8s ease;
  transition: 0.8s ease, color 0.8s ease;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  text-shadow: 0 0 20px;
}

.academy:hover {
  color: #98e5fa;
  -webkit-transition: 0.8s ease, color 0.8s ease;
  -o-transition: 0.8s ease, color 0.8s ease;
  transition: 0.8s ease, color 0.8s ease;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-shadow: 0 0 20px;
  text-decoration: none;
}

.academy {
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  text-decoration: underline;
}

.subtitle {
  margin: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-right: 20px;
}


.subtitle {
  padding-left: 30px;
}

.content-device {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: auto;
  background-image: url(../img/device.png);
  margin-top: 110px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  margin-bottom: 2px;
  -webkit-box-shadow: 0 0 70px #98e5fa;
  box-shadow: 0 0 70px #98e5fa;
}

.content-mishka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: auto;
  background-image: url(../img/mishka.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  border-bottom: 1px solid #98e5fa;
}

.content-aotsk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  height: auto;
  background-image: url(../img/tsk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  border-bottom: 1px solid #98e5fa;
}

.content-wrapper {
  width: 100%;
  background-color: rgba(37, 37, 37, 0.7);
  -webkit-box-shadow: 0 0 70px #98e5fa;
  box-shadow: 0 0 70px #98e5fa;
}

.page-content__link {
  min-width: 600px;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.page-content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 15px;
  color: white;
}

.page-content__header {
  padding-top: 90px;
  font-size: 2rem;
  text-transform: uppercase;
}

.page-content__header span {
  font-weight: 100;
  padding-right: 15px;
  color: #bdbdbd;
}

.page-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 500px;
  padding-top: 20px;
  padding-bottom: 260px;
  color: white;
}

.page-content__text span {
  padding-left: 5px;
  text-transform: uppercase;
}

.page-content__text a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
}

.page-content__text--effect:hover span {
  position: absolute;
  -webkit-transition: 0.8s ease, color 0.8s ease;
  -o-transition: 0.8s ease, color 0.8s ease;
  transition: 0.8s ease, color 0.8s ease;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  padding-top: 40px;
  color: rgb(9, 158, 128);
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 0 20px;
}

.page-content__link-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 50px;
}

.page-content__link-repo,
.page-content__link-prod {
  text-align: center;
  width: 250px;
  border: 1px solid #ffffff;
  padding: 20px 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.page-content__link-repo:hover,
.page-content__link-prod:hover {
  background: white;
  color: rgb(34, 34, 34);
  -webkit-transition: color 1.5s ease;
  -o-transition: color 1.5s ease;
  transition: color 1.5s ease;
  -webkit-box-shadow: 5px 5px 20px;
  box-shadow: 5px 5px 20px;
}

.pager-footer {
  width: 100%auto;display: -webkit-box;display: -ms-flexbox;display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 20px;
  background-color: black;
  color: white;
}

.pager-footer span {
  padding-left: 5px;
  padding-right: 5px;
  border-bottom: 1px solid gray;
}

@media screen and (min-width: 320px) {
  .content-device,
  .content-mishka {
    background-size: contain;
    background-position: 50% 50%;
  }

  .page-content__link-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-content__link-repo {
    margin-bottom: 40px;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-content__text {
    width: 100%;
    padding-bottom: 100px;
  }

  .wrapper-caption {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .main-caption {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .subtitle {
    padding-left: 0;
    padding-top: 10px;
  }

  .caption__link,
  .subtitle,
  .academy {
    font-size: 1.5rem;
  }

  .caption__link {
    padding-right: 0;
    padding-bottom: 10px;
  }

  .subtitle {
    margin-right: 0;
    padding-bottom: 20px;
  }

  .academy {
    padding-bottom: 10px;
  }

  .page-content__text {
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8rem;
    margin-bottom: 60px;
  }

  .page-content__header {
    font-size: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }

  .content-mishka {
    height: auto;
  }

  .content-aotsk {
    height: auto;
  }

  .page-content__text:hover a {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    padding-top: 40px;
  }

  .page-content__text--effect:hover span {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .page-content__link-repo,
  .page-content__link-prod {
    font-size: 0.6rem;
    width: 250px;
  }

}

@media screen and (min-width: 768px){
  .page-content__link-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-content__header {
    padding-top: 100px;
  }

  .page-content__link-block {
    padding-bottom: 120px;
  }

  .page-content__link-repo {
    margin-bottom: 0;
  }

  .page-content__text {
    width: 400px;
    font-size: 1.2rem;
    margin-bottom: 120px;
  }

  .page-content__text:hover a {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }

  .page-content__text--effect:hover span {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  }

}

@media screen and (min-width: 960px){
  .page-content__header {
    padding-top: 150px;
  }

  .page-content__link-block {
    padding-bottom: 180px;
  }

  .page-content__text {
    width: 700px;
    font-size: 1.2rem;
    margin-bottom: 180px;
  }

}

@media screen and (min-width: 1280px){
  .page-content__header {
    padding-top: 220px;
  }

  .page-content__text {
    width: 700px;
    font-size: 1.2rem;
    margin-bottom: 200px;
  }

  .caption__link,
  .subtitle,
  .academy {
    font-size: 1.8rem;
  }

  .caption__link {
    padding-right: 20px;
    padding-bottom: 0;
  }

  .subtitle {
    margin-right: 20px;
  }

  .page-content__link-repo,
  .page-content__link-prod {
    font-size: 1rem;
  }

  .academy {
    padding-bottom: 0;
  }

  .wrapper-caption {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .main-caption,
  .subtitle {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 2rem;
  }

  .main-caption {
    padding-right: 20px;
  }

}

@media screen and (min-width: 1920px){
  .page-content__header {
    padding-top: 150px;
    font-size: 2rem;
  }

  .page-content__text {
    width: 800px;
    margin-bottom: 380px;
    font-size: 1.5rem;
  }

  .page-content__text a {
    font-size: 2rem;
  }

  .content-wrapper {
    padding-bottom: 280px;
  }

  .page-content__link-repo,
  .page-content__link-prod {
    width: 450px;
    padding: 40px 40px;
    font-size: 1.5rem;
  }

  .main-caption,
  .subtitle {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 2.2rem;
  }

  .wrapper-caption {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

}
